@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fas fa-check-circle"
                ErrorIcon="fa-solid fa-triangle-exclamation" />

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa-solid fa-check"
                ErrorIcon="fa-solid fa-triangle-exclamation" />


<style>
    .btnTrongSuot {
        background-color: transparent;
        color: blue;
        border: none;
        font-family: inherit;
        font-size: 15px;
        font-weight: 500;
    }

    .btnTrongSuot2 {
        background-color: transparent;
        border: none;
        font-family: inherit;
        font-size: 15px;
        font-weight: 500;
    }

    .btnTrongSuot1 {
        background-color: transparent;
        font-family: inherit;
        font-size: 15px;
        font-weight: 500;
    }

    .btne:disabled {
        opacity: .7;
        cursor: not-allowed;
    }

    .back {
        background-color: rgba(0,0,0,0.7);
    }
</style>


<div style="background-color:#fff;padding:30px 30px;">
    <label style="font-size:25px;font-weight:450;">Đổi mật khẩu</label>
    <br />
    <label style="font-size:15px;font-weight:450; margin-bottom:20px;">Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</label>
    <hr />
    <EditForm Model="_user">
        <DataAnnotationsValidator />

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2" style="margin-top:10px">
                <label>Mật khẩu cũ</label>
            </div>

            <div class="col-md-8">
                <div class="inputName" style="width:70%">
                    <i class="fa-solid fa-lock"></i>
                    <div style="display:flex;flex-direction:column;margin-left:10px;width:84%">
                        <InputText class="form_field" name="name" id='name' required @bind-Value="@_user.Password" />
                    </div>
                    <i class="@Icon_Pass" @onclick=ShowPass></i>
                </div>
                <ValidationMessage For="()=>_user.Password" style="color:red;margin-top:-15px;margin-left:25px;font-size:11pt;" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2" style="margin-top:10px">
                <label>Mật khẩu mới</label>
            </div>
            <div class="col-md-8">
                <div class="inputName" style="width:70%">
                    <i class="fa-solid fa-lock"></i>
                    <div style="display:flex;flex-direction:column;margin-left:10px;width:84%">
                        <InputText class="form_field" name="name" id='name' required @bind-Value="@_user.NewPassword" />
                    </div>
                    <i class="@Icon_New" @onclick=ShowNewPass></i>
                </div>
                <ValidationMessage For="()=>_user.NewPassword" style="color:red;margin-top:-15px;margin-left:25px;font-size:11pt;" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2" style="margin-top:10px">
                <label>Xác nhận mật khẩu mới</label>
            </div>
            <div class="col-md-8">
                <div class="inputName" style="width:70%">
                    <i class="fa-solid fa-lock"></i>
                    <div style="display:flex;flex-direction:column;margin-left:10px;width:84%">
                        <InputText class="form_field" name="name" id='name' required @bind-Value="@_user.ConfirmNewPassword" />
                    </div>
                    <i class="@Icon_CheckNew" @onclick=ShowCheckNewPass></i>
                </div>
                <ValidationMessage For="()=>_user.ConfirmNewPassword" style="color:red;margin-top:-15px;margin-left:25px;font-size:11pt;" />
            </div>
        </div>


        <button class="btnSuccesUpDateInfo" @onclick="@ChangePasswordMethor" style="width:30%;margin-left:420px">
            ĐỔI MẬT KHẨU
            <i class="fa-sharp fa-solid fa-arrow-right-long" style="margin-left:20px; "></i>
        </button>
    </EditForm>
</div>