@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="10"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />
<style>
	.paymentMethods {
		border: 1px solid #A09F9E;
		padding: 20px 30px 20px 30px;
		border-radius: 5px;
	}

	.titleCOD {
		font-size: 14px;
		padding: 10px 5px 10px 5px;
		border: 1px solid #A09F9E;
		background-color: #fdf4ed;
		border-radius: 5px;
	}

	.btnSuccesBill {
		background-color: #7dccff;
		color: #f2faff;
		padding: 15px 20px;
		border: none;
		border-radius: 5px;
		margin-top: 25px;
	}

		.btnSuccesBill:hover {
			background-color: #64a3cc;
			color: #fff;
		}

	.img_Ab {
		position: absolute;
		background-color: #949491;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		text-align: center;
		top: -10px;
		right: -10px;
		color: #fff;
		opacity: 0.8;
	}

	.countPrice {
		/* width: 70%; */
		display: flex;
		justify-content: space-between;
		margin-top: auto;
		margin-bottom: auto;
	}

	.centered-div {
		display: flex;
		align-items: center;
	}

		.centered-div label {
			font-size: 18px;
			padding: 10px;
		}
</style>

<div class=" row">
	<div class="col-md-7">
		<h4 style="padding-left:100px">Thông tin giao hàng</h4>
		<EditForm Model="_bill_vm">
			<div class="col-12" style="padding-left:100px;margin-top:20px">
				<div style="display:flex;">
					<img src="/img/avartar_user.png" style="width:8%;margin-right:20px" />
					@if (_user_vm.FullName == null || _user_vm.FullName == string.Empty)
					{
						<div class="centered-div">
							<label>Không có thông tin người dùng</label>
						</div>
					}
					else
					{
						<div class="centered-div">
							<label>@_user_vm.FullName (@_user_vm.Email)</label>
						</div>
					}
				</div>
				<div style="margin-top:15px">
					<input type="text" class="form-control" @bind-value="_bill_vm.TenNguoiNhan" placeholder="Tên người nhận" />
				</div>

				<div style="margin-top:15px">
					<input type="text" class="form-control" @bind-value="_bill_vm.SDTNhan" placeholder="Số điện thoại" />
				</div>

				<div class="col-12" style="margin-top:15px;display:flex">
					<input type="text" class="form-control" @bind-value="_bill_vm.DiaChiCuThe" placeholder="Địa chỉ chi tiết" />
				</div>
				<div class="row" style="margin-top:15px">
					<div class="col-4">
						<InputSelect class="form-select" @bind-Value="@_bill_vm.Tinh" @onclick="ChonTinhTP">
							<option value="@string.Empty" selected>--Tỉnh/Thành phố--</option>
							@foreach (var x in _lstTinhTp)
							{
								<option value="@x.Name">@x.Name</option>
							}
						</InputSelect>
					</div>
					<div class="col-4">
						<InputSelect class="form-select" @bind-Value="@_bill_vm.Huyen" @onclick="@ChonQuanHuyen">
							<option value="@string.Empty" selected>--Quận/Huyện/Thị xã--</option>
							@foreach (var x in _lstQuanHuyen)
							{
								<option value="@x.Name">@x.Name</option>
							}
						</InputSelect>
					</div>
					<div class="col-4">
						<InputSelect class="form-select" @bind-Value="@_bill_vm.Xa">
							<option value="@string.Empty" selected>--Phường/Xã--</option>
							@foreach (var x in _lstXaPhuong)
							{
								<option value="@x.Name">@x.Name</option>
							}
						</InputSelect>
					</div>

				</div>
				<div style="margin-top:15px">
					<InputTextArea class="form-control" @bind-Value="_bill_vm.Note" placeholder="Ghi chú" />
				</div>
				<div class="paymentMethods" style="margin-top:15px">
					<InputRadioGroup @bind-Value="_bill_vm.PhuongThucTT" class="form-control">

						<InputRadio Value='"Thanh toán khi nhận hàng (COD)"' />
						<span>Thanh toán khi nhận hàng (COD)</span>
						<br />
						@if (_bill_vm.PhuongThucTT == "Thanh toán khi nhận hàng (COD)")
						{
							<div>
								<p class="titleCOD">
									1. Khi click vào nút <b>Hoàn tất đơn hàng</b> thì đơn hàng sẽ được hệ thống tự động xác nhận mà không cần phải gọi qua điện thoại, nếu điền thông tin địa chỉ và số điện thoại chính xác thì đơn hàng sẽ được vận chuyển từ 3-4-5 ngày tùy vùng miền.<br>
									2. Trường hợp đặt hàng xong nhưng muốn HỦY ĐƠN, vui lòng soạn tin nhắn theo cú pháp: SĐT ĐÃ ĐẶT ĐƠN (hoặc MÃ ĐƠN hoặc GMAIL ĐƠN HÀNG) + TÊN NGƯỜI NHẬN sau đó gửi qua các kênh online: Page Facebook, Intagram. Nhân viên check tin nhắn sẽ xử lý hủy giúp Quý KH.
								</p>
							</div>
						}
						<InputRadio Value='"Thanh toán Momo"' />
						<span>Thanh toán Momo</span>
						<br />
						@if (_bill_vm.PhuongThucTT == "Thanh toán Momo")
						{
							<div>
								<p class="titleCOD">
									Sau khi bấm nút <b>Hoàn tất đơn hàng</b> bạn sẽ được chuyển hướng đến trang thanh toán của Momo. Vui lòng thanh toán để hoàn tất đơn hàng
								</p>
							</div>
						}
					</InputRadioGroup>
				</div>
				<div style="display:flex;justify-content:space-between;align-items:center">
					<div>
						<a style="color:#7dccff;cursor:pointer;" @onclick="BackToCart">Giỏ hàng</a>
					</div>
					<button class="btnSuccesBill" @onclick="Btn_DatHang">
						@_bill_vm.PhuongThucTT
					</button>
				</div>
			</div>
		</EditForm>
	</div>
	<div class="col-md-5">
		@foreach (var x in _lstCI)
		{
			_pi_s_vm = _lstPrI_show_VM.Where(c => c.Id == x.ProductItemId).FirstOrDefault();
			var lst_chonmau = _lstPrI_show_VM.Where(c => c.ColorId == _pi_s_vm.ColorId).ToList();
			_lstImg_PI_tam.Clear();
			foreach (var mau in lst_chonmau)
			{
				var a = _lstImg_PI.Where(c => c.ProductItemId == mau.Id);
				_lstImg_PI_tam.AddRange(a);
			}
			var img = _lstImg_PI_tam.Where(c => c.ProductId == _pi_s_vm.ProductId).OrderBy(c => c.STT).Select(c => c.PathImage).FirstOrDefault();
			<div class="row">
				<div class="col-md-9">
					<div style="display:flex;">
						<div style="position:relative">
							<img src="/images/@img" alt="" style="width:90px;height:90px;border-radius:8px">
							<div class="img_Ab">@x.Quantity</div>
						</div>
						<div style="display:flex; justify-content:space-between;flex-direction:column;height:60%;margin-top:auto;margin-bottom:auto;margin-left:20px">
							<label>@_pi_s_vm.Name</label>
							<div style="display:flex; justify-content:space-between;flex-direction:column;font-size:14px">
								<label>@_pi_s_vm.SizeName</label>
								<label>@_pi_s_vm.ColorName</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3" style="margin-top:auto;margin-bottom:auto;">
					<h6 style="text-align:right;font-size:15px">
						@((x.Quantity * _pi_s_vm.PriceAfterReduction)?.ToString("#,##0"))đ<br>
						<del style="color:grey">@((x.Quantity * _pi_s_vm.CostPrice)?.ToString("#,##0"))đ</del>
					</h6>
				</div>
			</div>
			<div style="height:1px;background-color:#000;margin-top:10px;margin-bottom:15px">
			</div>
		}
		<div class="row">
			<div class="col-md-5"><h6>Tạm tính </h6></div>
			<div class="col-md-7"><h6 style="text-align:right;">@(_tongTienHang?.ToString("#,##0"))đ</h6></div>
		</div>
		<div class="row">
			<div class="col-md-5"><h6>Phí ship</h6></div>
			<div class="col-md-7"><h6 style="text-align:right;">@(_bill_vm.PhiShip.ToString("#,##0"))đ</h6></div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<h4>Tổng cộng</h4>
			</div>
			<div class="col-md-7">
				<h4 style="text-align:right;">@(_tongTienAll?.ToString("#,##0"))đ</h4>
			</div>
		</div>
	</div>
</div>

@* style="text-align:right" *@