@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="10"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />
<style>
	.number-input {
		display: flex;
		align-items: center;
	}

	.input-wrapper {
		display: flex;
		align-items: center;
		border: 1px solid #ccc;
		border-radius: 20px;
		padding: 5px;
	}

	.input-field {
		margin-left: 10px;
		width: 50px;
		text-align: center;
		border: none;
		background-color: transparent;
		pointer-events: none;
	}

	.minus-button,
	.plus-button {
		width: 30px;
		height: 30px;
		border: none;
		background-color: transparent;
		color: #337ab7;
		font-weight: bold;
		cursor: pointer;
	}

		.minus-button:hover,
		.plus-button:hover {
			color: #286090;
		}
</style>

<h6>Trang chủ > @_nameCate > @_p_vm.Name>></h6>
<hr style="border: 2px solid orangered;">

@*<form action="@Url.Action("Cart","Home",new{ IdPro = @Model.Id})" method="post">*@


<div style="margin-top: 50px;">
	<div style="display:flex">
		<div class="col-md-7" style="display:flex">
			<div class="col-md-4" style="height: 550px; overflow-y: auto;width:120px">
				@foreach (var x in _lstImg_PI_tam.OrderBy(c => c.STT))
				{
					<div style="margin-bottom:30px;margin-top:30px">
						<a @onclick="()=>LoadAnh(x.Id)">
							<img class="img-thumbnail" src="/images/@x.PathImage" alt="" style="width: 100px;height: 110px;" />
						</a>
					</div>
				}
			</div>
			<div class="col-md-10">
				<center>
					<a data-toggle="modal" data-target="#Add_P">
						<img class="img-thumbnail" src="/images/@_path_Tam" alt="" style="width:500px;height:650px;margin-top:8.5px" />
					</a>
				</center>
			</div>
		</div>
		<div class="col-md-5 ">
			<div class="content1_detail">
				<h2>@_p_vm.Name</h2>
				@* <div class="row">
				<div class="col-md-3"><img src="Image/rating.png" alt=""></div>
				<div class="col-md-3"> <h5>400 Đánh giá</h5></div>
				<div class="col-md-3"><h5>2K Đã bán </h5></div>
				</div> *@
				<div style="display:flex">
					<div class="col-md-3">
						<h5>Giá bán</h5>
					</div>
					<div class="col-md-9">
						<h5>@_gia</h5>
					</div>
				</div>
				<br />
				<div style="display:flex">
					<div class="col-md-3">
						<h5>Màu sắc</h5>
					</div>
					<div class="col-md-9">
						<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
							@foreach (var x in _lstColor)
							{
								_sttMau++;
								<input type="radio" class="btn-check" name="btnradio mau" id="btnradio@_sttMau mau" autocomplete="off" @onclick="()=>ChonMau(x)">
								<label class="btn btn-outline-primary" for="btnradio@_sttMau mau">@x</label>
							}
						</div>
					</div>
				</div>
				<br />
				<div style="display:flex">
					<div class="col-md-3">
						<h5>Size</h5>
					</div>
					<div class="col-md-9">
						<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
							@foreach (var x in _lstSize)
							{
								_sttSize++;
								<input type="radio" class="btn-check" name="btnradio size" id="btnradio@_sttSize size" autocomplete="off" @onclick="()=>ChonSize(x)">
								<label class="btn btn-outline-primary" for="btnradio@_sttSize size">@x</label>
							}
						</div>
					</div>
				</div>
				<br />
				<div style="display:flex">
					<div class="col-md-3">
						<h5>Số lượng</h5>
					</div>
					<div class="col-md-9">
						<div class="number-input">
							<div class="input-wrapper">
								<button class="minus-button" @onclick="SL_Tru">-</button>
								<input type="number" class="input-field" readonly @bind-value="@_soLuong">
								<button class="plus-button" @onclick="SL_Cong">+</button>
							</div>
						</div>
					</div>
				</div>
				<br />
				<div>
					<center>
						<button type="submit" class="btn btn-warning btn_size2" @onclick="ThemVaoGiohang">
							<span style="font-size:25px">Thêm vào giỏ hàng</span>
						</button>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="Add_P">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Nội dung của popup -->
			<img src="/images/@_path_Tam" style="width:600px;height:850px" />
		</div>
	</div>
</div>