@using ThucTapSavis_Shared.Models;
@using Blazored.Toast.Configuration;
<BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="10"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />
<style>
	.number-input {
		display: flex;
		align-items: center;
	}

	.input-wrapper {
		display: flex;
		align-items: center;
		border: 1px solid #ccc;
	}

	.input-field {
		margin-left: 10px;
		width: 40px;
		text-align: center;
		border: none;
		background-color: transparent;
		pointer-events: none;
		height: 80%;
	}

	.minus-button, .plus-button {
		width: 30px;
		height: 30px;
		border: none;
		color: #337ab7;
		font-weight: bold;
		cursor: pointer;
	}

		.minus-button:hover,
		.plus-button:hover {
			color: #286090;
		}

	.btn_continuebuy {
		margin: 15px 20px 0 0;
		color: #ffffff;
		background-color: #333333;
		padding: 8px 25px;
		font-size: 15px;
	}

	.noteBill {
		font-size: 15px;
		font-weight: 700;
		font-family: Futura;
		margin: 6px 0px;
		color: #666666;
		margin-top: 20px;
	}

	.inputNoteBill {
		width: 100%;
		padding: 10px 0px 0px 10px;
		height: 150px;
		font-family: Futura;
	}

	.billPay {
		padding: 25px;
		border: 1px solid #333333;
		font-weight: 600;
	}

	.btnBillPay {
		width: 100%;
		border: none;
		background-color: #e32124;
		color: #ffffff;
		padding: 15px;
		margin-top: 15px;
	}
</style>

<div class="container row">

	<div class="col-md-8">
		<p style="font-size:21px;font-weight:500;font-family:Futura;margin-bottom:10px">Giỏ hàng</p>
		@foreach (var x in _lstCI)
		{
			_pi_s_vm = _lstPrI_show_VM.FirstOrDefault(c => c.Id == x.ProductItemId);
			var lst_chonmau = _lstPrI_show_VM.Where(c => c.ColorId == _pi_s_vm.ColorId).ToList();
			_lstImg_PI_tam.Clear();
			foreach (var mau in lst_chonmau)
			{
				var a = _lstImg_PI.Where(c => c.ProductItemId == mau.Id);
				_lstImg_PI_tam.AddRange(a);
			}
			var img = _lstImg_PI_tam.Where(c => c.ProductId == _pi_s_vm.ProductId).OrderBy(c => c.STT).Select(c => c.PathImage).FirstOrDefault();
			<div style="display:flex;justify-content:space-between;font-family:'Times New Roman'">
				<div style="display:flex;justify-content:center;align-items:center">
					<a href="/product-detail?id={@_pi_s_vm.ProductId}"><img src="/images/@img" alt="" style="width:110px;height:110px;"></a>
					<div style="display:flex;flex-direction:column;justify-content:space-between;color:#333333;font-weight:700;font-size:17px;text-align:left;margin-left:20px">
						<label>@_pi_s_vm.Name</label>
						<label style="font-weight:500">@(_pi_s_vm.ColorName + ", " + _pi_s_vm.SizeName)</label>
						@if (_pi_s_vm.PriceAfterReduction != _pi_s_vm.CostPrice)
						{
							<label>
								<b style="font-weight:600">
									@((_pi_s_vm.PriceAfterReduction)?.ToString("#,##0"))đ
								</b><del style="font-weight:500;margin-left:5px;color:grey">@((_pi_s_vm.CostPrice)?.ToString("#,##0"))đ</del>
							</label>
						}
						else
						{
							<b style="font-weight:600">
								@((_pi_s_vm.PriceAfterReduction)?.ToString("#,##0"))đ
							</b>
						}

						<div class="number-input">
							<div class="input-wrapper">
								<button class="minus-button" @onclick="()=>SL_Tru(x)">-</button>
								<input type="number" class="input-field" readonly @bind-value="@x.Quantity">
								<button class="plus-button" @onclick="()=>SL_Cong(x)">+</button>
							</div>
						</div>
					</div>
				</div>
				<div style="display:flex;flex-direction:column;justify-content:space-between">
					<label style="cursor:pointer;" @onclick="()=>DeleteCI(x)">Xóa sản phẩm</label>
					<label>@((x.Quantity * _pi_s_vm.PriceAfterReduction)?.ToString("#,##0"))đ</label>
				</div>
			</div>
			<hr style="margin-top:10px;margin-bottom:10px;height:2px" />
		}
		<div>
			<button class="btn_continuebuy" @onclick="MuaHang">
				TIẾP TỤC MUA SẮM SẢN PHẨM KHÁC
			</button><br />
			<label class="noteBill">Ghi chú đơn hàng</label> <br />
			<textarea @bind="@_note" class="inputNoteBill" placeholder="Ghi chú">

			</textarea>

		</div>
	</div>
	<div class="col-md-4">
		<p style="font-size:21px;font-weight:500;font-family:Futura;margin-bottom:10px">Đơn hàng</p>
		<div class="billPay">
			<div style="display:flex;justify-content:space-between">
				<label>Tổng tiền</label>
				<label style="color:#e32124">@(_tongTien?.ToString("#,##0")) đ</label>
			</div>
			<div>
				<button class="btnBillPay" @onclick="CreateBill" data-toggle="modal" data-target="#thongBao">
					Mua hàng
				</button>
			</div>
		</div>
	</div>
</div>

@if (_tongTien == 0)
{
	<div class="modal fade" id="thongBao">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Phần tiêu đề của popup -->
				<div class="modal-header">
					<h4 class="modal-title">Thông báo</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Nội dung của popup -->
				<div class="modal-body">
					Giỏ hàng không có sản phẩm nào vui lòng chọn thêm sản phẩm
				</div>
				<!-- Phần chân của popup -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @onclick="MuaHang" data-dismiss="modal">Tiếp tục mua</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
				</div>
			</div>
		</div>
	</div>

}