<div class="card">
    <div class="card-body">
        <h1 style="margin-top:20px">Promotion</h1>
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Promotion</li>
                </ol>
            </nav>
            <input type="text" /> abc
            <button type="button" class="btn btn-outline-success" style="float:right" @onclick="NavigationAddPromotion">Create Promotion</button>
        </div>

    </div>
</div>

@{
    int count = 1;
}
<style>
    th {
        font-size: 12pt;
    }

    td {
        font-size: 11pt;
    }

</style>
<div class="card">
    <div class="card-body">
        <div class="pagetitle">
        </div>
        @if (_lstPromotion == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Phần trăm giảm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Ngày bắt đầu</th>
                        <th scope="col">Ngày kết thúc</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">Tình trạng</th>
                        <th scope="col">Chức năng</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var a in _lstPromotion)
                    {
                        <tr>
                            <td>@(count++)</td>
                            <td>@a.Name</td>
                            <td>@a.Percent</td>
                            <td>@a.Quantity</td>
                            <td>@a.StartDate</td>
                            <td>@a.EndDate</td>
                            <td>@a.Description</td>
                            <td>@(a.Status==1?"Hoạt động":"Ngừng hoạt động")</td>
                            <td>
                                <div class=row>
                                    <button type="button" class="btn btn-outline-warning col-md-4" style="margin-right:5px;display: flex;justify-content: center;align-items: center;"  @onclick="()=>NavigationUpdatePromotion(a)"> 
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger col-md-4" style="display: flex;justify-content: center;align-items: center;" @onclick="()=>DeletePromotion(a)">
                                        <i class="bi bi-slash-circle"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>
</div>

