@{
}

@*@model IEnumerable<Assignment_NET105_Nhom3_Shared.ViewModels.BillViewModel_Show>*@

<div class="table-wrapper" style="max-height: 500px; overflow-y: scroll;">
    <div style="margin-top=30px">
        <h2>Quản lý sản phẩm</h2>
    </div>

    <table class="table tablePR" style="font-size: 10pt; text-align: center; overflow-y: scroll; max-height: 700px;">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Người mua</th>
                <th scope="col">Ngày mua</th>
                <th scope="col">Tình trạng</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Chức năng</th>
            </tr>
        </thead>
        <tbody style="font-size: 10pt; text-align: center;line-height: 100px;">
            @{
                int count = 1;
            }
            @foreach (var a in  ViewBag.Bill )
            {
                <tr>
                    <th>@(count++)</th>
                    <th>
                        <a href="@Url.Action("BillDetail","Home",new{Id=a.Id})" style="text-decoration:none;">
                           @a.UserName
                        </a>
                    </th>
                    <th>@a.CreatedDate</th>
                    <th>@(a.Status==0?"Đã huỷ":a.Status==1?"Đang giao ":"Thành công")</th>
                    <th>@a.Price</th>>
                    <th>
                        <a href="@Url.Action("UpdateBillDetail","Home",new{Id=a.Id})" style="text-decoration:none; color: white">
                            <button type="button" class="btn btn-danger" style="font-size: 10pt;float: right;margin-top: 40px; ">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </a>
                        <a href="@Url.Action("UpdateBillDetail","Home",new{Id=a.Id})" style="text-decoration:none; color: white">
                            <button type="button" class="btn btn-warning" style="font-size: 10pt;float: right; margin: 40px 5px;">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
